body {
  font-family: var(--font-family-regular);
  color: var(--primary-dark-colour);
  background-color: #f5f5f5;

  #root {
    min-height: 100vh;
    display: flex;
    overflow-y: hidden;

    #app-wrapper {
      width: 100%;
      margin: auto;
      height: auto;
      z-index: 99999;

      #app {
        background: url(/src/images/iphone-backgound.svg) center no-repeat;
        background-size: cover;
        max-width: 440px;
        aspect-ratio: 440 / 887;
        width: 100%;
        margin: auto;
        height: auto;
        z-index: 99999;
        position: relative;

        .app-content-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          position: relative;

          .house-graphic {
            width: 100%;
            height: auto;
            margin: 11em auto 0 auto;
            z-index: -1;
          }
        }
      }
    }
  }
}
