header {
  position: absolute;
  top: 30px;
  width: 100%;
}

.home-bg-wrapper {
  background: url(/src/images/home-dark-cloud-bg.webp) center no-repeat;
  background-size: contain;
  border-radius: 75px;
  margin: 0 0 0 20px;
  max-width: 400px;
  width: 100%;
  height: auto;
  aspect-ratio: 430 / 956;
  position: absolute;
  z-index: -1;
}

.homepage-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  font-size: 1.25rem;
  line-height: calc(24 / 20);
  font-weight: 600;

  .weather-location {
    font-size: 2.125rem;
    line-height: calc(41 / 34);
    font-weight: 400;
  }

  .weather-temp {
    font-size: 6rem;
    line-height: calc(70 / 96);
    margin: 12px 0;
    font-weight: 200;

    > span {
      position: absolute;
    }
  }

  .weather-conditions {
    color: var(--secondary-dark-colour);
  }

  .weather-temp-high-low {
    display: flex;
    gap: 0.5em;
  }
}
