.tab-bar-container {
  padding-top: 0.5em;
  z-index: 0;
  position: absolute;
  border-radius: 0 0 44px 44px;
  bottom: -3px;
  width: 390px;
  height: 78px;
  margin-bottom: 20px;
  border-top: 0.4px solid rgba(255, 255, 255, 0.3);
  padding: 0 20px;

  .tab-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tab-bar-background {
    border-radius: 0 0 42px 42px;
    overflow: hidden;
  }

  .details-icon,
  .list-icon {
    cursor: pointer;
    margin: 8px 0 0 0;
  }

  .tab-bar-toolbar {
    margin: 14px auto 0 auto;
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 25%;
    right: 25%;
  }
}
