.search-input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 15px 0;
  position: relative;

  input {
    width: 100%;
    padding: 8px;
    min-height: 40px;
    border-radius: 10px;
    background-color: #191919;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #ffffff;
    opacity: 0.5;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  span {
    cursor: pointer;
  }

  .search-results-overlay {
    height: 655px;
    width: 100%;
    left: 0;
    top: 100%;
    position: absolute;
    border-radius: 0 0 56px 56px;
    background: black;
    opacity: 0.5;
  }
}
