.search-page-container {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 23px;
  right: 20px;
  top: 16px;
  bottom: 20px;
  border-radius: 44px;
  width: 394px;
  height: 856px;
  padding: 20px 0;

  .search-page-wrapper {
    padding: 0 20px;

    .search-page-title {
      font-size: 37px;
      font-weight: bold;
      margin: 2em 0 8px 0;
    }
  }
}
