.tab-bar-container {
  padding-top: 0.5em;
  z-index: 0;
  position: absolute;
  bottom: 18px;

  .tab-bar-background {
    border-radius: 0 0 42px 42px;
    overflow: hidden;
  }

  .map-icon,
  .list-icon {
    position: absolute;
    top: 40%;
    cursor: pointer;

    path {
      transition: fill ease-in-out 0.3s;
    }

    &:hover {
      path {
        fill: var(--weather-color-solid-pink);
      }
    }
  }

  .map-icon {
    left: 30px;
  }

  .list-icon {
    right: 30px;
  }
}
