:root {
  /* Typography:  */
  --body-font-size: 0.938rem;
  --body-line-height: calc(20 / 15);
  --font-family-regular: "Inter", sans-serif;

  /* Colours:  */
  --primary-light-colour: #000000;
  --secondary-light-colour: rgba(60, 60, 67, 0.6);
  --tertiary-light-colour: rgb(60, 60, 67, 30%);
  --quaternary-light-colour: rgb(60, 60, 67, 18%);

  --primary-dark-colour: #ffffff;
  --secondary-dark-colour: rgba(235, 235, 245, 0.6);
  --tertiary-dark-colour: rgb(235, 235, 245, 30%);
  --quaternary-dark-colour: rgb(235, 235, 245, 18%);

  --weather-colour-linear-light: linear-gradient(
    167.57deg,
    rgb(46, 51, 90) -4.68%,
    rgb(28, 27, 51) 95.45%
  );
  --weather-colour-linear-dark: linear-gradient(
    90deg,
    rgb(89, 54, 180) 0%,
    rgb(54, 42, 132) 103.55%
  );
  --weather-colour-linear-pink: linear-gradient(
    90deg,
    rgb(66, 123, 209) 1.95%,
    rgb(193, 89, 236) 101.56%
  );
  --weather-colour-linear-blue: linear-gradient(
    180deg,
    rgb(174, 201, 255) 0%,
    rgb(174, 201, 255) 54.51%,
    rgb(8, 48, 114) 54.52%
  );
  --weather-colour-radial: radial-gradient(
    73.23% 106% at 34.94% 108.33%,
    rgb(247, 203, 253) 0%,
    rgb(119, 88, 209) 100%
  );
  --weather-colour-angular: conic-gradient(
    from 180deg at 50% 50%,
    rgb(97, 47, 171) -90.71deg,
    rgba(97, 47, 171, 0) 50.02deg,
    rgb(97, 47, 171) 129.55deg,
    rgba(97, 47, 171, 0) 226.06deg,
    rgb(97, 47, 171) 269.29deg,
    rgba(97, 47, 171, 0) 410.02deg
  );

  --weather-color-solid-purple: #48319d;
  --weather-color-solid-navy: #1f1d47;
  --weather-color-solid-pink: #c427fb;
  --weather-color-solid-pale-pink: #a499c0;
}
