:root {
  --body-font-size: 0.938;
  --body-line-height: calc(20 / 15);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #a499c0;

  #root {
    min-height: 100vh;
    display: flex;
  }

  #app-wrapper {
    width: 100%;
    margin: auto;
    height: auto;
    z-index: 99999;
  }

  #app {
    background: url(/iphone-background.png) center no-repeat;
    background-size: cover;
    max-width: 440px;
    aspect-ratio: 440 / 887;
    width: 100%;
    margin: auto;
    height: auto;
    z-index: 99999;
  }

  header {
    position: absolute;
    top: 30px;
  }

  .home-bg-wrapper {
    background: url(/home-bg.svg) center no-repeat;
    border-radius: 44px;
    margin: 0 0 0 25px;
    max-width: 390px;
    width: 100%;
    height: auto;
    aspect-ratio: 390 / 844;
    padding-top: 1em;
    position: absolute;
    z-index: -1;
  }

  .app-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    .modal-container {
      width: 100%;
      display: flex;
      justify-content: center;
      max-width: 390px;
      height: 500px;
      // overflow: scroll;
      position: absolute;
      bottom: -75px;
      z-index: 0;
    }
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1 0 auto;
    max-width: 390px;
    margin: auto;
    padding: 0 15px;
    background: linear-gradient(180deg, rgb(49, 51, 80), rgb(72, 45, 129));
    height: 300px;
    border-radius: 44px 44px 0 0;
    z-index: 99;

    .hourly-forecast,
    .weekly-forecast {
      height: min-content;
    }

    .weekly-forecast-list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 100%;
    }

    .modal-hour,
    .modal-week {
      font-size: var(--body-font-size);
      line-height: var(--body-line-height);
      color: rgba(235, 235, 245, 60%);
      cursor: pointer;
    }
  }

  .tab-bar-container {
    padding-top: 0.5em;
    z-index: 0;
    position: absolute;
    bottom: 18px;

    .map-icon,
    .list-icon {
      position: absolute;
      top: 40%;

      &:hover {
        cursor: pointer;
      }
    }

    .map-icon {
      left: 30px;
    }

    .list-icon {
      right: 30px;
    }
  }

  .homepage-header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    font-size: 1.25rem;
    line-height: calc(24 / 20);
    font-weight: 600;

    .homepage-header__nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 25px 0 35px;
      margin-bottom: 5em;

      .status-bar {
        width: fit-content;
      }
    }

    .weather-location {
      font-size: 2.125rem;
      line-height: calc(41 / 34);
      font-weight: 400;
    }

    .weather-temp {
      font-size: 6rem;
      line-height: calc(70 / 96);
      margin: 12px 0;
      font-weight: 300;

      > span {
        position: absolute;
      }
    }

    .weather-conditions {
      color: #ebebf5;
      opacity: 0.6;
    }

    .weather-temp-high-low {
      display: flex;
      gap: 0.5em;
    }

    .house-graphic {
      width: 100%;
      height: auto;
      margin: 1.2em auto 0 auto;
      z-index: -1;
    }
  }
}
